@font-face {
	font-family: 'Nib Pro';
	src: url('../fonts/Nib-Pro-Regular.woff') format('woff'),
		url('../fonts/Nib-Pro-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nib Pro';
	src: url('../fonts/Nib-Pro-Bold.woff') format('woff'),
		url('../fonts/Nib-Pro-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nib Pro';
	src: url('../fonts/Nib-Pro-Light.woff') format('woff'),
		url('../fonts/Nib-Pro-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/GT-Walsheim-Regular.woff') format('woff'),
		url('../fonts/GT-Walsheim-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/GT-Walsheim-Bold.woff') format('woff'),
		url('../fonts/GT-Walsheim-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/GT-Walsheim-Light.woff') format('woff'),
		url('../fonts/GT-Walsheim-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('../fonts/GT-Walsheim-Medium.woff') format('woff'),
		url('../fonts/GT-Walsheim-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
