$primary: #5e3ad8;
$secondary: #00ba93;
$black: #000000;
$bg-color: #eeeeee;

:root {
	--header-height: 5rem;
	--layout-margin: 1rem;
	--layout-max-width: 1200px;
}

@include atLarge {
	:root {
		--layout-margin: 3rem;
	}
}

@include atMedium {
	:root {
		--header-height: 4rem;
		--layout-margin: 2rem;
	}
}

@include atSmall {
	:root {
		--layout-margin: 1rem;
	}
}
